# unrelated folder
classify/
data/
dataset/images/
dataset/labels/
*.cache
models/hub/
runs/predict-seg/
runs/train-seg/exp
runs/train-seg/exp2
runs/train-seg/exp3
runs/train-seg/exp4
runs/train-seg/exp5
runs/train-seg/exp6
runs/train-seg/exp7/weights
runs/train-seg/exp8/weights
*.mov
*.pt
__pycache__/
*.py[cod]
*$py.class
